<p><i>Subsribers:</i> <b>{{ subscribers_count }}</b></p>
<p><i>% Subsribers:</i> <b>{{ subscribers_percentage }}%</b></p>

<p><i>Unsubscribers:</i> <b>{{ unsubscribers_count }}</b></p>
<p><i>% Unsubscribers:</i> <b>{{ unsubscribers_percentage }}%</b></p> 
<br>

<p><i>Delivered E-mails</i>: <b>{{ delivered_emails }}</b></p>
<p><i>% Delivered</i>: <b>{{ delivered_percentage }}%</b></p>

<p><i>Opened E-mails</i>: <b>{{ opened_emails }}</b></p>
<p><i>% Opened</i>: <b>{{ opened_percentage }}%</b></p>