{% extends 'index.html' %}

{% block content %}
<h1><a href="{% url 'news:post_list' %}">Post list</a></h1>
<h1><a href="{% url 'news:create_post' %}">Create Post</a></h1>
    <br>

    <h1><a href="{% url 'news:letter_list' %}">NewsLetter list</a></h1>
    <h1><a href="{% url 'news:create_letter' %}">Create News Letter</a></h1>
    <h1><a href="{% url 'news:previous_newsletters' %}">Previous News Letter</a></h1>
    <br>

    <h1><a href="{% url 'news:metrics' %}">Metrics</a></h1>
{% endblock %}