{% if news %}

    <h1>Published Newsletters</h1>
    {% for post in news %}
        {% if post.published %}
            <h2>😊 <a href="{% url 'news:letter_detail' post.id %}">{{ post.title }}</a></h2>
        {% endif %}
    {% endfor %}

    <h1>Draft Newsletters</h1>
    {% for post in news %}
        {% if post.published == False %}
            <h2>🙁 <a href="{% url 'news:letter_detail' post.id %}">{{ post.title }}</a></h2>
        {% endif %}
    {% endfor %}
{% else %}
    <p><i>No newsletters yet. <a href="{% url 'news:create_letter' %}">Create News Letter</a></i></p>
{% endif %}