{% extends 'index.html' %}

{% block content %}
    <h1>{{news.title}}</h1>
    {% for post in news.posts.all %}
        <h4>{{ forloop.counter }}. {{ post.title }}</h4>
        <p>
            {{ post.content }}
        </p>
    {% endfor %}

    {% if news.published == True %}
        <p>Sent, Published!</p>
    {% else %}
        <form action="{% url 'news:send_newsletter' news.id %}" method="post">
            <input type="submit" value="Send newsletter">
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock %}