{% extends 'index.html' %}

{% block title %} complete subscription {% endblock %}

{% block content %}
    <h1 class="display-4 mb-5">Thanks! we'll add you to the newsletter</h1>
    <p>
        A link has been sent to your email to confirm your subscription
    </p>

    <h3 class="display-5 my-3">What to expect from the newsletter</h3>
    <p>
        We send out letters  everyweek throught email
        about *subject*
    </p>

    <h3 class="display-5 my-3">Get helpful reminders</h3>
    <p>
        If you would find it helpful to receive reminders for our newsletters... then follow us on Twitter
    </p>
    <span> <a href="">Follow us on twitter</a></span>
{% endblock %}