<!doctype html>
<html>

<head>
    <title>{% block title%} The Humore {% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <a class="text-white" href="{% url 'subscribers:add' %}">Home</a>
                <a class="text-white" href="{% url 'news:newsboard' %}">News Board</a>
            </div>
        </nav>
    </header>

    <div class="container-lg">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>